#para-1{
    text-align: center;
}
footer{
    border: 2px solid black;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    clear: both
}
#menu-principal{
    background-color: #444444;
}
#menu-principal li a{
    color: aliceblue;
    text-decoration: none;
}
#menu-principal li{
    display: inline-block;
    line-height: 50px;
    background-color: #555555;
    cursor: pointer;
    padding: 0 10px;
}
#menu-principal li:hover{
    background-color: aliceblue;
}
#menu-principal li:hover a {
    color: #555555;
}
nav{
    text-align: center;
    border:2px solid red;
}
#texte-acceuil img{
    float: right;
    height: 150px;
}
#menu-gauche {
    position: absolute;
    width: 30%;
    text-align: center;
    font-size: x-large;
}
#texte-acceuil, #section-inscription, #formulaire-auth{
    width: 66%;
    margin-left: 34%;
}
#menu-gauche a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 1.5%;
    background-color: #444444;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}
#menu-gauche a:hover{
    background-color: aliceblue;
    color: #444444;
}
fieldset{
    max-width: 500px;
    /*margin-left: 34%;*/
}
form .group{
    margin-bottom: 20px;
}
form .group label{
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    text-align: right;
}
form .group select{
    width: 35%;
}
#renseignement-auth input{
    width: 30%;
}
.submit-group {
    max-width: 500px;
    /*margin-left: 34%;*/
    text-align: right;
    padding: 14px 0px 14px 28px;
}
.submit-group input[type=submit]{
    width: 150px;
}
